main{
   display: grid;
   gap: 6px;
   grid-template-columns: 32.5% 5% 62.5%;
   grid-template-areas:
        "Image   .  Recipe"
        "Image   .  Ingredients"
        "Image   .  Instructions";
        margin-top: 1%;
        padding: 2%;
}
#Image{
    grid-area: Image;
}

#Recipe{
    grid-area: Recipe;
}

#Ingredients{
    grid-area: Ingredients;
}

#Instructions{
    grid-area: Instructions;
}

img {
    width: 80%;
}

@media (min-width:1025px){
    main{

        grid-template-areas:
             "Image  .  Recipe"
             "Image  .  Ingredients"
             "Image  .  Instructions";
     } 
}